.myTripsBody {
  background-color: #F9F9F9;
}
.myTrip {
  width: 180px;
  height: 222px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  /* margin-left: 10px; */
  margin-bottom: 30px;
  /* margin: 0 10px 30px 10px; */
}

.myTripImg {
  height: 136px;
  width: 180px;
  border-radius: 11px 11px 0px 0px;
}

.myTripDiv {
  margin: 0 5px;
}

.myTripsTop {
  /* border: solid black 2px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px 0 15px;
}

.myTripsTop h1 {
  font-size: 18px;
  text-align: left;
}

.myTripsTop button {
  width: fit-content;
}

.myTripInfo {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.myTripInfo p {
  font-weight: 700;
  margin: 0;
}

.myTripInfo span {
  font-weight: 300;
  color: #9092A3;
  font-size: 12px;
  margin: 0;
}

.myTripDestiny {
  text-align: left;
}

.myTripDestiny span {
  color: #FF8C20;
  font-size: 10px;
}

.myTripDestiny img {
  width: 8px;
  height: 8.4px;
  margin: 0 3px 0 4px ;
}

.carousel {
  display: flex;
  justify-content: space-around;
}