.nextTripCosts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 6px;
}

.eachCost {
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.sectionCost {
  width: 210px;
}

.circleProg {
  width: fit-content;
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.circleText {
  width: 100px;
}

.destiny {
  font-size: 12px;
  color: #FF8C20;
  margin-left: 4px;
}

.destinyDiv {
  display: flex;
  justify-content: flex-start;
  align-items:center ;
  margin: 12px 0 4px 10px;
}

.nextTripInfo {
  margin: 5px;
}

.nextTripLegend {
  margin-top: 18px;
  font-size: 12px;
  font-weight: 300;
  color: #9092A3;
}

.line {
  width: 370px;
  height: 1px;
  margin-top: 2px;
  background-color: #F1F0F1;
}